body {
  background-color: whitesmoke;
}
#outerCircle {
  background: #385a94;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  position: relative;
  border-style: solid;
  border-width: 10px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 8px 8px 15px 5px #888888;
}
.cell-red {
  background-color: darkred;
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 300px 0 0 0;
  top: 50%;
  left: 50%;
  margin: -300px 0px 0px -300px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 5px rgba(36, 35, 35, 0.5);
}
.cell-blue {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 0 300px 0 0;
  background-color: darkblue;
  top: 50%;
  left: 50%;
  margin: -300px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 5px rgba(36, 35, 35, 0.5);
}
.cell-green {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 0 0 300px 0;
  background-color: darkgreen;
  top: 50%;
  left: 50%;
  margin: 0px 0px -300px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 5px rgba(36, 35, 35, 0.5);
}
.cell-yellow {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 0 0 0 300px;
  background-color: #ffd11c;
  top: 50%;
  left: 50%;
  margin: 0px -300px 0px -300px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 10px 7px rgba(36, 35, 35, 0.5);
}
#innerCircle {
  position: absolute;
  background-color: grey;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -150px;
  border-style: solid;
  border-width: 10px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px 5px rgba(36, 35, 35, 0.5);
}
#title {
  font-family: "Candal", sans-serif;
  position: absolute;
  font-size: 55px;
  margin-left: 42px;
  margin-top: 34px;
}
#switches {
  position: absolute;
  font-family: Trebuchet, Arial, sans-serif;
  margin-left: 6px;
  margin-top: 8px;
}
#startGameBtn {
  position: absolute;
  border: solid 3px black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 122px;
  margin-left: 121px;
  background: red;
}
#startButtonTxt {
  position: absolute;
  height: 30%;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 153px;
  margin-left: 118px;
}
#countBox {
  position: absolute;
  margin: 120px 0px 0px 30px;
  height: 50px;
  width: 50.3px;
}
#highLevelBox {
  position: absolute;
  font-family: Trebuchet, Arial, sans-serif;
  margin: 120px 0px 0px 200px;
  height: 50px;
  width: 50.3px;
}
#countDisplay {
  border: solid 3px black;
  border-radius: 20%;
  height: 50%;
  margin: 0px 6px 0px 6px;

  background: red;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
#currentText {
  height: 30%;
  margin: -50px 6px 0px 6px;
  font-size: 13px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#currentText2 {
  height: 30%;
  margin: 36px 6px 0px 6px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#highText {
  height: 30%;
  margin: -50px 6px 0px 6px;
  font-size: 13px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#highText2 {
  height: 30%;
  margin: 36px 6px 0px 6px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#displayText {
  opacity: 0.3;
}
/* on off switcht code from https://proto.io/freebies/onoff/ */
.difficultyswitch {
  position: absolute;
  margin: 180px 0px 0px 150px;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.difficultyswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.difficultyswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.difficultyswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.difficultyswitch-inner:before,
.difficultyswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.difficultyswitch-inner:before {
  content: "EASY";
  padding-left: 10px;
  background-color: #606161;
  color: #ffffff;
  text-align: left;
}
.difficultyswitch-inner:after {
  content: "HARD";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.difficultyswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.difficultyswitch-checkbox:checked
  + .difficultyswitch-label
  .difficultyswitch-inner {
  margin-left: 0;
}
.difficultyswitch-checkbox:checked
  + .difficultyswitch-label
  .difficultyswitch-switch {
  right: 0px;
}

.onoffswitch {
  position: absolute;
  margin: 180px 0px 0px 30px;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #606161;
  color: #ffffff;
  text-align: left;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
