body {
  font-family: "Ruluko", sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
  font-size: 30px;
  background-color: whitesmoke;
}
.board {
  width: auto;
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, auto);
}
.header {
  display: flex;
  justify-content: center;
  /* padding-left: 50px; */
  /* width: 800px; */
}
.counterContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: flex-end; */
  /* margin-left: 30px; */
  /* padding-left: 50px; */
  /* align-self: flex-start; */
  position: absolute;
  top: 175px;
  left: 800px;
}
.counter {
  font-size: 25px;
  text-align: right;
  margin-bottom: 10px;
}
.value {
  font-size: 20px;
  text-align: center;
  padding: 0px, 50px;
}
.cell {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px;
}
#reset {
  margin: 30px;
}
button {
  margin: 30px;
  font-size: 20px;
}
.cell-red {
  background-color: darkred;
}
.cell-blue {
  background-color: darkblue;
}
.cell-green {
  background-color: darkgreen;
}
.cell-yellow {
  background-color: rgb(175, 175, 2);
}
